*.h5
*.hdf5

*.db

build/
dist/
*.egg-info/
__pycache__/
.pytest_cache/

*.pkl
*.pickle
*.ipynb_checkpoints

.idea/

cpp/build-*
*CMakeLists.txt.user
.idea/

test/test_readme.py
*.DS_store
commit_template.txt
